<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>

<body>
  <mat-toolbar>
    <span class="title-span">
      <h1 class="mat-display-3" id="section-title">{{title}}</h1>
    </span>


    <span class="title-buttons-spacer"></span>
    <div id="entity-buttons">
      <a id="excluir-button" mat-stroked-button basic color="primary"><mat-icon>arrow_left</mat-icon>Voltar</a>
      <!-- <a id="excluir-button" mat-stroked-button basic (click)=toggleDisplay()>Cadastrar</a>
      <a id="excluir-button" mat-stroked-button [disabled]="anySelected" href="/login">Editar</a> -->
      <!-- <a id="excluir-button" mat-stroked-button [disabled]="anySelected"
        [routerLink]="['/vis', { outlets: { 'sidenav-content-outlet': 'estudante' } }]">Analisar</a> -->

    </div>
  </mat-toolbar>

  

  


</body>

</html>