/* .mat-form-field+.mat-form-field {
    margin-left: 800px;
} */

.mat-form-field {
    min-width: 235px;
    /* margin-inline: 10px; */
}

.container {
    min-width: fit-content;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}