<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body class="fundo">
    <mat-card class="login-container">
        <br>
        <!-- O elemento abaixo cria o título do "card" de login e configura um link provisório para a tela inicial do Administrador, que por enquanto fica a tela "Instituições". -->
        <!-- Esse link deixará de existir quando a funcionalidade real de login for implementada -->
        <mat-card-title><a href="/adm/(sidenav-content-outlet:inst)" class="link-titulo">PBL Analytics</a></mat-card-title>
        <br>
        <mat-card-content>
            <!-- No conteúdo do cartão, criamos os campos de usuário e senha -->
            <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput type='text'>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

</body>

</html>