/* .mat-form-field+.mat-form-field {
    margin-left: 800px;
} */

.mat-form-field {
    min-width: 235px;
    /* margin-inline: 10px; */
}
.login-container {
    color: #01579b;
    min-width: fit-content;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.fundo{
    background-color: rgb(245, 245, 245);
}

a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: #01579b;
}