<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <div class="parent">
        <div class="first-child">
            <mat-toolbar class=mat-elevation-z1>
                <span>
                    <h1 class="toolbar-title">PBL Analytics</h1>
                </span>
                <small class=".mat-small" id="alpha" [attr.color]="themeColor"><i>alpha</i></small>
                <span class="spacer"></span>
                <button mat-button color="accent" id="side-by-side-button">Analytics</button>
                <button mat-button color="accent" id="side-by-side-button">Configuração</button>
                <a mat-flat-button color="primary" href="/login" id="side-by-side-button">Sair</a>
            </mat-toolbar>
        </div>
        <div class="second-child">
            <mat-sidenav-container class="sidenav-container">
                <!-- <mat-sidenav #sidenav mode="side" opened [attr.color]="themeColor"></mat-sidenav> -->
                <mat-sidenav #sidenav mode="side" opened>
                    <h3>Configurar visualizações dados</h3>
                    <mat-accordion displayMode="flat" class="example-headers-align" multi>
                        <mat-expansion-panel class="mat-elevation-z0">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Documentos
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-selection-list [multiple]="false">
                                <mat-list-option
                                    [routerLink]="['/vis', { outlets: { 'sidenav-content-outlet': 'estudante' } }]">
                                    Lista de documentos
                                </mat-list-option>
                                <mat-list-option class="mat-elevation-z0"
                                    [routerLink]="['/vis', { outlets: { 'sidenav-content-outlet': 'estudante' } }]">
                                    Interações por documento</mat-list-option>
                                <!-- <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'disciplinas' } }]">Disciplinas</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'turmas' } }]">Turmas</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'equipes' } }]">Equipes</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'usuarios' } }]">Usuários</mat-list-option> -->
                            </mat-selection-list>
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-sidenav>
                <mat-sidenav-content>
                    <div>
                        <router-outlet name="sidenav-content-outlet"></router-outlet>
                    </div>
                    <!-- <ng-content></ng-content> -->
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</body>

</html>