.mat-flat-button {
    color: white;
}

.toolbar-title {
    color: #01579b;
}

.example-spacer {
    flex: 1 1 auto;
}

.parent {
    position: relative;
    height: 100vh;
}

.fist-child {
    max-height: fit-content;
}

.second-child {
    min-height: calc(100vh - 64px);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: calc(100vh - 64px);

    .sidenav-container {
        height: 92%;
        .mat-sidenav {
            padding: 8px;
            min-width: 13%;
            .mat-list-item {
                color: white;
            }
        }

        .mat-sidenav-content {
            height: calc(100vh - 5%);
            background-color: rgb(245, 245, 245);
            padding-left: 1%;
            padding-right: 1%;
            padding-top: 2%;
        }
    }
}
