// .example-container {
//     height: calc(100vh - 64px);
//     .mat-sidenav {
//         padding: 8px;
//         min-width: 300px;
//     }
//     .mat-sidenav-content {
//         height: calc(100vh - 64px);
//     }
// }

.mat-flat-button {
    color: white;
}

.toolbar-title {
    color: #01579b;
}

.example-spacer {
    flex: 1 1 auto;
}

// .mat-icon-no-color {
//     color: rbga(0, 0, 0, 0.54);
// }

// .container {
//     padding: 8px;
// }

// .mat-toolbar {
//     // background: #007bff;
//     color: blue;
//   }
