<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <div class="parent">
        <div class="first-child">
            <mat-toolbar class=mat-elevation-z4>
                <span>
                    <h1 class="toolbar-title">PBL Analytics</h1>
                </span>
                <span class="example-spacer"></span>
                <a mat-flat-button color="primary" href="/login">Sair</a>
            </mat-toolbar>
        </div>
        <div class="second-child">
            <mat-sidenav-container class="sidenav-container" [hasBackdrop]="hasBackdrop.value">
                <mat-sidenav #sidenav mode="side" opened [attr.color]="themeColor">
                    <mat-nav-list #hasBackdrop>
                        <!-- <h1>Sidenav</h1> -->
                        <a mat-list-item
                            [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'nav' } }]">Instituição</a>
                        <a mat-list-item>Cursos</a>
                        <a mat-list-item>Disciplinas</a>
                        <a mat-list-item>Turmas</a>
                        <a mat-list-item>Equipes</a>
                        <a mat-list-item>Usuários</a>
                    </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                    <div class=" container">
                        <router-outlet name="sidenav-content-outlet"></router-outlet>
                    </div>
                    <ng-content></ng-content>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</body>

</html>