<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <!-- Esta é a div "mãe" da página de adm. Inclui duas filhas. -->
    <div class="parent">
        <!-- A primeira div filha contem a barras superior (implmentada com o mat-toolbar), onde fica o botão de sair e outros elementos -->
        <div class="first-child">
            <mat-toolbar class=mat-elevation-z1>
                <span>
                    <h1 class="toolbar-title">PBL Analytics</h1>
                </span>
                <small class=".mat-small" id="alpha" [attr.color]="themeColor"><i>alpha</i></small>
                <span class="spacer"></span>
                <button mat-button color="accent" id="side-by-side-button">Analytics</button>
                <button mat-button color="accent" id="side-by-side-button">Configuração</button>
                <a mat-flat-button color="primary" href="/login" id="side-by-side-button">Sair</a>
            </mat-toolbar>
        </div>
        <!-- A segunda div filha contem um elemento mat-sidenav-container, onde implementamos o menu lateral e o conteúdo de cada item deste menu (Instituições, Cursos, Usuários etc.) -->
        <div class="second-child">
            <mat-sidenav-container class="sidenav-container">
                <!-- <mat-sidenav #sidenav mode="side" opened [attr.color]="themeColor"></mat-sidenav> -->
                <mat-sidenav #sidenav mode="side" opened>
                    <mat-selection-list [multiple]="false">
                        <!-- Cada opção da lista tem um routerLink do Angular apontando para URL do componente desejado. Este componente vai ser rendeirzado no outlet de conteúdo. -->
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'inst' } }]">
                            Instituições</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'cursos' } }]">
                            Cursos</mat-list-option>
                        <mat-list-option
                            [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'disciplinas' } }]">
                            Disciplinas</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'turmas' } }]">
                            Turmas</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'equipes' } }]">
                            Equipes</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'usuarios' } }]">
                            Usuários</mat-list-option>
                    </mat-selection-list>
                </mat-sidenav>
                <!-- Este é o elemento de conteúdo do sidenav e nele encontramos o outlet. Dessa forma, cada item da lista carrega o seu componente neste elemento. -->
                <mat-sidenav-content>
                    <router-outlet name="sidenav-content-outlet"></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</body>

</html>