.mat-flat-button {
    color: white;
}

.toolbar-title {
    color: #01579b;
}

.mat-display-3 {
    color: #00b0ff;
}

.example-spacer {
    flex: 1 1 auto;
}

.parent {
    position: relative;
    height: 100vh;
}

.fist-child {
    max-height: fit-content;
}

.second-child {
    min-height: calc(100vh - 64px);
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    height: calc(100vh - 64px);

    .sidenav-container {
        height: 92%;
        .mat-sidenav {
            padding: 8px;
            min-width: 13%;
        }
        // .mat-sidenav-content {
        //     height: calc(100vh - 64px);
        // }
    }
    .mat-sidenav {
        padding: 8px;
    }

    .mat-sidenav-content {
        height: calc(100vh - 5%);
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        // min-height: fit-content;
    }
}
