.mat-toolbar {
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#section-title {
    color: #00b0ff;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
}

.title-buttons-spacer {
    flex-grow: 100;
}

#entity-buttons {
    color: #01579b;
    flex-grow: 1;
}

#excluir-button {
    margin-left: 10px;
}
