// 👇 Importing `Work Sans` font for headings, you can change this if you want
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
// 👇 1. Default theme
$pbla-ui-primary: mat-palette($mat-light-blue, A400);
$pbla-ui-accent: mat-palette($mat-light-blue, 900);
$pbla-ui-warn: mat-palette($mat-red);
$pbla-ui-theme: mat-light-theme(
    $pbla-ui-primary,
    $pbla-ui-accent,
    $pbla-ui-warn
);