<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <!-- Esta é a div "mãe" da página de adm. Inclui duas filhas. -->
    <div class="parent">
        <!-- A primeira div filha contem a barras superior (implmentada com o mat-toolbar), onde fica o botão de sair e outros elementos -->
        <div class="first-child">
            <mat-toolbar class=mat-elevation-z1 id="top-toolbar">
                <span>
                    <h1 class="toolbar-title">PBL Analytics</h1>
                </span>
                <small class=".mat-small" id="alpha" [attr.color]="themeColor"><i>alpha</i></small>
                <span class="spacer"></span>
                <button mat-button color="accent" id="side-by-side-button">Analytics</button>
                <button mat-button color="accent" id="side-by-side-button">Configuração</button>
                <button mat-button color="accent" id="side-by-side-button"><mat-icon id="icone-pessoa">person</mat-icon>Perfil do Professor</button>
                <a mat-flat-button color="primary" href="/login" id="side-by-side-button" id="botao_sair">Sair</a>
            </mat-toolbar>
        </div>
        <!-- A segunda div filha contem um elemento mat-sidenav-container, onde implementamos o menu lateral e o conteúdo de cada item deste menu (Instituições, Cursos, Usuários etc.) -->
        <div class="second-child">
            <mat-sidenav-container class="sidenav-container">
            <!-- <mat-sidenav #sidenav mode="side" opened [attr.color]="themeColor"></mat-sidenav> -->
                <mat-sidenav #sidenav mode="side" opened>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option [routerLink]="['/ana-profe', { outlets: { 'sidenav-content-outlet': 'estudantes' } }]">Estudantes</mat-list-option>
                        <!-- <mat-list-option [routerLink]="['/ana-profe', { outlets: { 'sidenav-content-outlet': 'turmas' } }]">Turmas</mat-list-option>
                        <mat-list-option [routerLink]="['/ana-profe', { outlets: { 'sidenav-content-outlet': 'equipes' } }]">Equipes</mat-list-option>
                        <mat-list-option [routerLink]="['/ana-profe', { outlets: { 'sidenav-content-outlet': 'historico' } }]">Histórico</mat-list-option> -->
                        <!-- <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'equipes' } }]">Equipes</mat-list-option>
                        <mat-list-option [routerLink]="['/adm', { outlets: { 'sidenav-content-outlet': 'usuarios' } }]">Usuários</mat-list-option> -->
                    </mat-selection-list>
                </mat-sidenav>
                <mat-sidenav-content>
                        <router-outlet name="sidenav-content-outlet"></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</body>

</html>